{% extends "base.html" %}
{% block content %}

<div class="game-setup">
    <h1>Step 2: Salome Places Bombs on ilias Grid 💣</h1>
    <p>Now Salome chooses 3 squares that will be bombs on ilias board. don’t look 👀</p>

    <form method="POST">
        <div class="game-grid">
            {% for i in range(9) %}
            <label class="game-setup-cell">
                <input type="checkbox" name="bomb" value="{{ i }}">
                <span>{{ i + 1 }}</span>
            </label>
            {% endfor %}
        </div>

        <button type="submit" class="secret-button">Start Game</button>
    </form>
</div>

{% endblock %}