{% extends "base.html" %}
{% block content %}

<header class="hero-clean">

    <h1>Happy 1 Year Anniversary ❤️</h1>

    <p class="hero-sub">
        A whole year of love, moments, memories…
        and everything beautiful we created together.
    </p>

    <div class="floating-hearts">
        <span>💛</span>
        <span>❤️</span>
        <span>🤎</span>
    </div>

</header>

<div class="home-box">
    <p>Welcome to our little world — where every moment becomes a memory, every memory becomes a story, and every story
        becomes us.</p>
</div>

{% endblock %}